<div class="pl-2 py-2 mb-1 flex items-center gap-2">
  <a
    [routerLink]="[`../../../fases/${denunciaId}`]"

      class=" px-3 py-1 font-medium rounded-xl  text-base text-left leading-tight transition-colors duration-200 flex items-center justify-center bg-gray-500 text-white hover:bg-gray-600  focus:ring-2 focus:ring-gray-500"
    >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class=" size-5 ">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>

    </a>
  <h3 class="text-2xl font-bold">Providencia administrativa</h3>

</div>
<hr class="border-yellow-300 border-1" />

<!--tabs-->
<app-nav-formulario
  [tabs]="tabsConfig"
  [actions]="actionsConfig"
  [currentTab]="currentTab"
  (tabChanged)="cambiarTab($event)"
  (actionClicked)="handleActionButton($event)"
></app-nav-formulario>
<form
 [formGroup]="providenciaForm"
  class="bg-gray-50 b p-4 shadow-lg border-t-1 border-t-blue-300 overflow-y-scroll h-[calc(100vh-8rem)]" >

<app-card-Form
    [hidden]="currentTab != 0">

    <div class="mb-4">
      <p class="text-justify leading-relaxed">
        Los Miembros de la Junta Cantonal de Protección de Derechos del Cantón Portoviejo, en ejercicio de nuestras funciones como autoridad competente para otorgar medidas administrativas de protección a favor de Niños, niñas y adolescentes,

        <app-inputs
    label="establecidos en"
    type="text"
    placeholder="Ingrese articulos"
    [formGroup]="providenciaForm"
    [control]="$any(providenciaForm.get('articulos')!)"
    >

    <!-- Mensajes de error personalizados -->
    <span *ngIf="providenciaForm.get('articulos')?.errors?.['required']">campo requerido</span>

  </app-inputs>
         siendo el día <span [innerHTML]="fechaFormateada"></span>,
      </p>
        <app-inputs
    label="avocamos conocimiento de"
    type="text"
    placeholder="informe/suscrito"
    [formGroup]="providenciaForm"
    [control]="$any(providenciaForm.get('suscrito')!)"
    >

    <!-- Mensajes de error personalizados -->
    <span *ngIf="providenciaForm.get('suscrito')?.errors?.['required']">campo requerido</span>

  </app-inputs>
  <app-inputs
    label="suscrito por"
    type="text"
    placeholder="nombres"
    [formGroup]="providenciaForm"
    [control]="$any(providenciaForm.get('nombreSuscrito')!)"
    >

    <!-- Mensajes de error personalizados -->
    <span *ngIf="providenciaForm.get('nombreSuscrito')?.errors?.['required']">campo requerido</span>
  </app-inputs>
  <app-inputs
    label="cargo"
    type="text"
    placeholder="cargo"
    [formGroup]="providenciaForm"
    [control]="$any(providenciaForm.get('cargoSuscrito')!)"
    >



  </app-inputs>

  <app-inputs
    label="institucion"
    type="text"
    placeholder="institucion"
    [formGroup]="providenciaForm"
    [control]="$any(providenciaForm.get('institucionSuscrito')!)"
    >



  </app-inputs>
  <app-inputs
    label="siendo la fecha"
    type="date"
    placeholder="fecha"
    [formGroup]="providenciaForm"
    [control]="$any(providenciaForm.get('fechaSuscrito')!)"
    >



  </app-inputs>

  <label class="block text-sm font-medium text-gray-700">Por lo que esta autoridad administrativa en uso de nuestras atribuciones DISPONE</label>

  <quill-editor
        [modules]="modules"
        formControlName="disposiciones"
        class="w-full h-50"
        [ngClass]="{
          ' border-1 border-red-500':
            providenciaForm.get('disposiciones')?.invalid &&
            providenciaForm.get('disposiciones')?.touched
        }"
      >
      </quill-editor>

    </div>

</app-card-Form>

<app-card-Form [titulo]="'Medidas de proteccion'"
        [hidden]="currentTab != 1">

    <form [formGroup]="medidasEmergentesForm" class="bg-white rounded-xl shadow-md p-4 border  ">

      <!-- Selector de afectados -->
           <div class="grid grid-cols-3 gap-2">
            <div class="h-full">
            <label
              for="afectados"
              class="block text-sm font-medium text-gray-700 "
              >Seleccionar afectado</label
            >
            <select
              (change)="medidaEmergentes($event)"
              id="afectados"
              formControlName="idAfectado"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
            >
              <option value=""  disabled selected hidden >Seleccione...</option>
              @for (item of afectados; track $index) {
              <option [value]="item.id">{{ item.nombres }}</option>
              }
            </select>

            <div>
            <label
              for="medida"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              medida</label
            >
            <input
              type="text"
              [readonly]="true"
              formControlName="medida"
              id="medida"
              name="medida"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="medida"
            />
          </div>
          <div>
            <label
              for="periodo"
              class="block text-sm font-medium text-gray-700 mb-1"
              >Por periodo</label
            >
            <input
              type="text"
              formControlName="periodo"
              id="periodo"
              name="periodo"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="Ej: Julio - Septiembre"
            />
          </div>
          <div>
            <label
              for="observaciones"
              class="block text-sm font-medium text-gray-700 mb-1"
              >Observaciones</label
            >
            <textarea
              id="observaciones"
              formControlName="observaciones"
              name="observaciones"
              rows="3"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="Escriba sus observaciones..."
            ></textarea>
          </div>

          </div>

          <!-- Tabla de medidas -->
          <!-- Tabla de medidas emergentes -->

          <!-- Lista de medidas por artículo -->
          <div class="flex col-span-2 my-4 gap-2 h-60 ">
            @for (articulo of medidasPorArticulo; track $index) {

            <div
              class="bg-white ring-1 ring-blue-200 rounded-lg shadow-md pt-0 p-1  overflow-auto"
            >
              <h3
                class="bg-white sticky top-0 text-lg font-semibold text-gray-800 mb-1 h-8"
              >
                {{ articulo.articulo }}
              </h3>

              <div class="space-y-3">
                <div
                  *ngFor="let medida of articulo.medidas"
                  class="bg-gray-50 rounded-lg p-3 hover:bg-gray-100 cursor-pointer flex items-start"
                >

                  <div class="flex items-center h-5">
                    <input
                      type="radio"
                      [value]="medida.id"
                      [formControlName]="'idMedida'"
                      [id]="'medida-' + medida.id"
                      class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
                    />
                  </div>
                  <div class="ml-3">
                    <label
                      [for]="'medida-' + medida.id"
                      class="text-sm text-gray-700"
                    >
                      {{ medida.medida }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            }
          </div>

           </div>
          <div class="flex gap-2 mt-2">
            <!-- Botón principal: Agregar o Actualizar según el modo -->
            <app-button-submit
              type="button"
              [label]="editMedidasMode ? 'Actualizar' : 'Agregar'"
              [color]="'submit' "
              [icon]="editMedidasMode ? 'edit' : 'plus'"
              (clicked)="editMedidasMode ? actualizarMedida() : agregarMedidasEmergentes()">
            </app-button-submit>

            <!-- Botón Cancelar: Solo visible en modo edición -->

            <app-button-submit
              *ngIf="editMedidasMode"
              label="Cancelar"
              type="button"
              color="cancelar"
              (clicked)="cancelarEdicionMedidas()"
              >
            </app-button-submit>
          </div>


        </form>
        <div

          class="bg-gray-50 rounded-xl shadow-inner p-4 border mt-2"
        >
          <app-tablaEdit
            [encabezados]="['ID', 'Medida ', 'Periodo', 'Observaciones']"
            [columnas]="['idMedida', 'medida', 'periodo', 'observaciones']"
            [datos]="medidasEmergentes"
            [acciones]="true"
            [mostrarEditar]="true"
            [eliminar]="eliminarMedida.bind(this)"
            [editar]="SeleccionarParaEditar.bind(this)"


          ></app-tablaEdit>
        </div>




  </app-card-Form>
  @if (pdfSrc) {
        <div class="pdf-container" [hidden]="currentTab !== 2">
          <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
        </div>
      }

</form>
