<div class=" mx-auto bg-white p-6 rounded shadow space-y-6 w-full ">

  <!-- Encabezado: Código de Trámite -->
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold">Trámite administrativo: <span class="text-xl text-gray-500">#{{denuncia?.codigoTramite}}</span></h1>

    <app-button-submit
      label="volver"
      color="cancelar"
      [routerLink]="['/nna']"
    >

    </app-button-submit>

  </div>
  <h1 class="text-2xl font-bold">Niño: <span class="text-xl text-gray-500">{{denuncia?.afectados}}</span></h1>



  <!-- Scroll horizontal de fases -->
  <div class=" overflow-x-auto scroll-smooth bg-white p-4 rounded shadow border w-full">
    <div class="flex space-x-4">
      @for (item of tarjetasAvocatoria; track $index) {
        <app-fases-card
        [titulo]="item.titulo"
        [estatus]="item.estatus"
        [idDenuncia]="item.idDenuncia"
        [link]="item.link"
        [linkDetalles]="item.linkDetalles"
        [noParams]="item.noParams"
        [estatusFaseAnterior]="item.faseAnterior"
      >

      </app-fases-card>

      }






    </div>
  </div>

</div>
