<h1 class="text-2xl font-bold mb-4">Audiencia de contestacion</h1>
<hr class="border-blue-200 border-1" />

   <!--tabs-->
  <div class="flex  mb-0 gap-3 " id="tabs">
    <button type="button" class="rounded-t-2xl p-2"
       [ngClass]="{
      'bg-blue-500 text-white': currentTab === '0',
      'bg-gray-100': currentTab !== '0'
    }"
      (click)="cambiarTab('0')"

    >
      inicio
    </button>
    <button type="button"
      class="bg-gray-100 focus:bg-blue-500 rounded-t-2xl p-2"
      (click)="cambiarTab('1')"

      [ngClass]="{
      'bg-blue-500 text-white': currentTab  != '0',

    }"
    >
     instalacion
    </button>
    <button type="button"
      class="bg-gray-100 focus:bg-blue-500 rounded-t-2xl p-2"
      (click)="cambiarTab('2')"

      [ngClass]="{
      'bg-blue-500 text-white': currentTab  != '0',

    }"
    >
     manifestaciones
    </button>


  </div>
  <app-card-Form  [hidden]="currentTab!='0'">
    <h4 class="justify-center">ACTA DE LA AUDIENCIA DEL CASO Nº <span class="font-bold">XXXXXXXXJCPD-x-………. </span></h4>

    <app-card-Form [titulo]="'Datos generales'">
       <form class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Fecha -->
    <div>
      <label for="fecha" class="block text-sm font-medium text-gray-700">Fecha</label>
      <input type="date" id="fecha" name="fecha"
        class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <!-- canton -->
    <div>
      <label for="canton" class="block text-sm font-medium text-gray-700">Dirección</label>
      <input type="text" id="direccion" name="direccion"
        class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>



    <!-- Hora -->
    <div>
      <label for="hora" class="block text-sm font-medium text-gray-700">Hora</label>
      <input type="time" id="hora" name="hora"
        class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>


   </form>

    </app-card-Form>

    <!-----------------------Participantes---------------------->

    <app-card-Form [titulo]="'Participantes'">
      <global-tabla
      [encabezados]="['asistio','nombres','tipo']"
      >

      </global-tabla>
      <form  class="mt-8 flex">

      <label class="block text-sm font-medium text-gray-700">Nombre</label>
    <input
      type="text"
      formControlName="nombres"

      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"

    >
      <label class="block text-sm font-medium text-gray-700">Parte</label>
    <input
      type="text"


      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"

    >

      <button type="submit" class="p-2 rounded-2xl bg-amber-200">agregar</button>
    </form>

    </app-card-Form>

   <app-card-Form [titulo]="'representantes institucionales'">
    <global-tabla
      [encabezados]="['nombres','tipo']"
      >

      </global-tabla>
      <form   class="mt-8 flex">

      <label class="block text-sm font-medium text-gray-700">Nombre</label>
    <input
      type="text"


      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"

    >


      <button type="submit" class="p-2 rounded-2xl bg-amber-200">agregar</button>
    </form>


    </app-card-Form>

    </app-card-Form>

    <app-card-Form [hidden]="currentTab!='1'">
      <app-card-Form [titulo]="'Instalacion'">
      <p>se Instala la Audiencia de contestación prevista en</p>
      <div>
        <select class="border-1 my-2">
          <option value="Art 205 del  Código de la Niñez y Adolescencia">Art 205 del  Código de la Niñez y Adolescencia</option>
          <option value="Art 206 del  Código de la Niñez y Adolescencia">Art 206 del  Código de la Niñez y Adolescencia</option>
        </select>
      </div>
      <p>según la Avocatoria de Conocimiento N.- …………………………. De fecha ………………………</p>
      <p>dirige la presente audiencia la señor-a <select class="border-1 " name="" id="">
        <option value="">principal1</option>
        <option value="">principal2</option>
        <option value="">principal3</option>
      </select> miembro de la Junta Cantonal de Protección de Derechos.</p>
      <div>
        <p class="mt-4">Se realiza la Audiencia reservada establecida en LUGAR con </p>
        <table class=" table-fixed border border-gray-300 rounded-lg">
      <thead >
        <tr class="  bg-gray-100 text-gray-700 text-xs">
          <th class=" border border-gray-300 px-4 py-2 text-left">
            NOMBRE
          </th>
          <th class=" border border-gray-300 px-4 py-2 text-left">
            CEDULA
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-300 px-4 py-2">
            IKER
          </td>
          <td class="border border-gray-300 px-4 py-2">
           0312546987
          </td>
        </tr>
      </tbody>
    </table>
      </div>


    </app-card-Form>

    </app-card-Form>

    <app-card-Form [hidden]="currentTab!='2'">
      <app-card-Form [titulo]="'Manifestaciones'">
        <div class="space-y-6">

  <div  class="p-4 bg-white border rounded-xl shadow-sm relative">

    <!-- Texto con input inline -->
    <p class="text-gray-800 mb-2">
      Se concede la palabra a
      <select



        class="border-b border-dotted focus:outline-none focus:border-blue-500 px-2 w-64 inline-block text-center"
      >
      <option value="">seleccione</option>
      <option value="">iker</option>
    </select>
      quien indica que:
    </p>

    <!-- Texto multilinea con estilo líneas -->
    <textarea

      rows="6"
      placeholder="Escriba aquí la intervención..."
      class="w-full resize-none border border-dotted border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 font-mono"
    ></textarea>

    <!-- Botón eliminar -->
    <button
      type="button"

      class="absolute top-2 right-2 text-sm text-red-500 hover:underline"
    >
      Eliminar
    </button>
  </div>

  <!-- Botón para agregar -->
  <button
    type="button"

    class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition"
  >
    + Agregar intervención
  </button>

</div>

      </app-card-Form>

      <app-card-Form [titulo]="'Niño manifiesta'">
        <p>Una vez escuchadas las versiones de las partes, se les pide que abandonen momentáneamente la sala para dar paso a la audiencia reservada con el adolescente </p>
        <p class="font-bold">El niño-a-adolescente manifesta:</p>
        <textarea

      rows="6"
      placeholder="Escriba aquí la intervención..."
      class="w-full resize-none border border-dotted border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 font-mono"
    ></textarea>

      </app-card-Form>




    </app-card-Form>







