<div class="container-fluid bg-white p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
        <a routerLink="" class="btn btn-dark me-3">←</a>
        <a routerLink="crearDenuncia"  class="btn btn-warning d-flex align-items-center">
          <span class="me-2">Nueva denuncia</span>
          <span class="fs-4">+</span>
        </a>
      </div>
      <div class="input-group" style="width: 250px;">
        <input type="text" class="form-control" placeholder="Buscar...">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-primary">
        <tr>
          <th>Trámite administrativo</th>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>PDF denuncia</th>
          <th>PDF evidencia</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">xxxxxx-xxxxxxx</a></td>
          <td>xxxxxx-xxxxxxx</td>
          <td>xxxxxxx</td>
          <td>xxxxxx</td>
          <td>xxxxxx</td>
          <td><i class="bi bi-trash text-danger"></i></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
