<h1 class="text-2xl font-bold mb-4">Audiencia de pruebas</h1>
<hr class="border-blue-200 border-1" />
<!--tabs-->
  <nav class="flex  mb-0 gap-1 " id="tabs">
    <button type="button" class="rounded-t-2xl p-2"
       [ngClass]="{
      'bg-blue-500 text-white': currentTab === '0',
      'bg-gray-100': currentTab !== '0'
    }"
      (click)="cambiarTab('0')"

    >
      inicio
    </button>
    <button type="button"
      class="bg-gray-100 focus:bg-blue-500 rounded-t-2xl p-2"
      (click)="cambiarTab('1')"

      [ngClass]="{
      'bg-blue-500 text-white': currentTab  === '1',
      'bg-gray-100': currentTab !== '1'

    }"
    >
     Pruebas
    </button>
    <button type="button"
      class="bg-gray-100 focus:bg-blue-500 rounded-t-2xl p-2"
      (click)="cambiarTab('2')"

      [ngClass]="{
      'bg-blue-500 text-white': currentTab  === '2',
      'bg-gray-100': currentTab !== '2'

    }"
    >
     Testimonios
    </button>
    <button type="button"
      class="bg-gray-100 focus:bg-blue-500 rounded-t-2xl p-2"
      (click)="cambiarTab('3')"

      [ngClass]="{
      'bg-blue-500 text-white': currentTab  === '3',
      'bg-gray-100': currentTab !== '3'

    }"
    >
     Audiencia reservada
    </button>
    <button type="button"
      class="bg-gray-100 focus:bg-blue-500 rounded-t-2xl p-2"
      (click)="cambiarTab('4')"

      [ngClass]="{
      'bg-blue-500 text-white': currentTab  === '4',
      'bg-gray-100': currentTab !== '4'

    }"
    >
     Vulneraciones/ medidas
    </button>



     @if (currentTab==="5") {
      <a
      class="bg-gray-100 focus:bg-blue-500 rounded-t-2xl p-2"
      (click)="cambiarTab('5')"


      [ngClass]="{

      'bg-blue-500 text-white': currentTab === '5',
      'bg-gray-100': currentTab !== '5'
    }"
    >
      pdf
    </a>

    }
    <div class="flex flex-1 mx-1 mt-5 justify-end space-x-1">
      <app-button-submit
        type="button"
        label="Cancelar"
        color="cancelar"
        (clicked)="cancelar()"
      >
      </app-button-submit>
       <app-button-submit
    type="button"
    label="Editar"
    color="afirmar"
    (clicked)="updateAudiencia()"
     [disabled]="editarDisabled"


    >

    </app-button-submit>
      <app-button-submit type="button"
       label="Guardar"
        color="submit"
        (clicked)="submitAudienciaPrueba()"
      [disabled]="guardarDisabled"
      >
      </app-button-submit>
      <app-button-submit
    type="button"
    label="GenerarPDF"
    color="submit"
    [disabled]="pdfDisabled"
    (clicked)="generarPdf()"


    >

    </app-button-submit>


    </div>


  </nav>
  <form [formGroup]="audienciaPruebaForm" class="bg-gray-50 b p-4 shadow-lg border-t-1 border-t-blue-300 overflow-y-scroll h-[calc(100vh-8rem)]" >
  <app-card-Form [hidden]="currentTab!='0'">
    <app-card-Form [titulo]="'inicio'" >
      <div class="grid grid-cols-3 md:grid-cols-3 gap-6 mb-4">
        <!-- Fecha -->
    <div>
      <label for="fecha" class="block text-sm font-medium text-gray-700">Fecha</label>
      <input type="date" id="fecha" name="fecha" formControlName="fecha"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75" />
    </div>

    <!-- canton -->
    <div>
      <label for="canton" class="block text-sm font-medium text-gray-700">canton</label>
      <input type="text" id="canton" [defaultValue]="datosAudienciaPrueba?.Canton" readonly
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75" />
    </div>



    <!-- Hora -->
    <div>
      <label for="hora" class="block text-sm font-medium text-gray-700">Hora</label>
      <input type="time" id="hora" name="hora" formControlName="hora"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75" />
    </div>


   </div>
<div class="mt-6 flex justify-between gap-6 text-center text-gray-800">

  <!-- Miembro 1 -->
  <div class="flex-1">
    <p class="underline decoration-dotted decoration-gray-400 min-h-[1.5rem]">__________________________</p>
    <p class="mt-1 font-semibold uppercase text-sm">Miembro-a Principal</p>
  </div>

  <!-- Miembro 2 -->
  <div class="flex-1">
    <p class="underline decoration-dotted decoration-gray-400 min-h-[1.5rem]">__________________________</p>
    <p class="mt-1 font-semibold uppercase text-sm">Miembro-a Principal</p>
  </div>

  <!-- Miembro 3 -->
  <div class="flex-1">
    <p class="underline decoration-dotted decoration-gray-400 min-h-[1.5rem]">__________________________</p>
    <p class="mt-1 font-semibold uppercase text-sm">Miembro-a Principal</p>
  </div>

</div>
<p class="mt-2">se Instala la Audiencia de contestación prevista en</p>
      <div>
         <select formControlName="instalacionAudiencia" class="mt-1  inline-block rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none">
          <option value=""  disabled selected hidden >Seleccione...</option>
          <option value="Art 205 del  Código de la Niñez y Adolescencia">Art 205 del  Código de la Niñez y Adolescencia</option>
          <option value="Art 206 del  Código de la Niñez y Adolescencia">Art 206 del  Código de la Niñez y Adolescencia</option>
        </select>.
      </div>



    </app-card-Form>
    <app-card-Form [titulo]="'Participantes'">
       <app-tablaEdit
      [encabezados]="['nombres','apellidos','Cedula','Tipo']"
        [columnas]="['nombres','apellidos','cedula','tipoParticipante']"
        [datos]="participantesTabla"
        [acciones]="true"
        [mostrarEditar]="true"
        [editar]="editarParticipante.bind(this)"
        [eliminar]="eliminarParticipante.bind(this)"
      >

      </app-tablaEdit>
      <h2 class="mt-1 text-xl text-blue-500 font-semibold mb-4">Agregar Participante</h2>

      <div class="bg-white rounded-xl shadow-md p-4 border">

        <form [formGroup]="participantesForm" class="grid grid-cols-1 md:grid-cols-5 gap-4 items-end">

        <div>
          <label class="block text-sm font-medium text-gray-700">Nombres</label>
          <input type="text" formControlName="nombres" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75">
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700">Apellidos</label>
          <input type="text" formControlName="apellidos" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75">
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700">Cédula</label>
          <input type="text" formControlName="cedula" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75">
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700">Tipo</label>
          <select formControlName="tipoParticipante" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75">
            <option value="">Seleccione</option>
            <option value="Denunciante">Denunciante</option>
            <option value="Denunciado">Denunciado</option>
            <option value="Testigo">Testigo</option>
            <option value="Abogado">Abogado</option>
            <option value="Representante">Representante</option>
          </select>
        </div>

        <!-- Botones condicionales -->
        <div class="flex items-end gap-2">
          <!-- Modo normal: Botón Agregar -->
          <app-button-submit
            *ngIf="!modoEdicionParticipante"
            label="Agregar"
            type="button"
            color="afirmar"
            [disabled]="!participantesForm.valid"
            (clicked)="onSubmitParticipante()">
          </app-button-submit>

          <!-- Modo edición: Botones Actualizar y Cancelar -->
          <ng-container *ngIf="modoEdicionParticipante">
            <app-button-submit
              label="Actualizar"
              type="button"
              color="afirmar"
              [disabled]="!participantesForm.valid"
              (clicked)="actualizarParticipante()">
            </app-button-submit>

            <app-button-submit
              label="Cancelar"
              type="button"
              color="cancelar"
              (clicked)="cancelarEdicionParticipante()">
            </app-button-submit>
          </ng-container>
        </div>
      </form>

      </div>

    </app-card-Form>
  </app-card-Form>

  <app-card-Form [hidden]="currentTab!='1'">

    <app-card-Form [titulo]="'pruebas '">
      <form [formGroup]="pruebasForm">
         <div class=" text-gray-800 text-justify leading-relaxed">
  <!-- Párrafo formal -->
  <p class="mb-4">
    En cumplimiento a lo que determina la Constitución de la República Art.
    <span class="underline decoration-dotted decoration-gray-400">…………………</span>,
    se recepta la intervención de la Abogada
    <span class="underline decoration-dotted decoration-gray-400"><select formControlName="participanteIndex" class="block w-full rounded-lg border border-gray-300 shadow-sm px-3 py-2 focus:border-blue-500 focus:ring-blue-500">
                    <option value="">Seleccione</option>
                    <option *ngFor="let p of participantesNoAfectados" [value]="p.idx">{{p.nombres}} {{p.apellidos}}</option>
                  </select></span>
    en representación de la parte <select formControlName="parte" class="block w-full rounded-lg border border-gray-300 shadow-sm px-3 py-2 focus:border-blue-500 focus:ring-blue-500">
                    <option value="">Seleccione parte</option>
                    <option value="Actora">Actora</option>
                    <option value="Accionada">Accionada</option>

                  </select>; quien manifiesta que las pruebas testimoniales son:
  </p>

  <!-- Input para escribir las pruebas -->
  <textarea
    type="text"
    formControlName="pruebas"
    placeholder="Describa las pruebas testimoniales aquí..."
    class="w-full border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
  ></textarea>
</div>
              <div class="flex items-end gap-2">
                @if (modoEdicionPruebas) {
                  <app-button-submit
                    type="button"
                    label="Actualizar"
                    color="submit"
                    (clicked)="agregarPruebasParticipante()"
                  ></app-button-submit>
                  <app-button-submit
                    type="button"
                    label="Cancelar"
                    color="cancelar"
                    (clicked)="cancelarEdicionPruebas()"
                  ></app-button-submit>
                } @else {
                  <app-button-submit
                    type="button"
                    label="Agregar"
                    color="accion"
                    (clicked)="agregarPruebasParticipante()"
                  ></app-button-submit>
                }
              </div>      </form>
      <div class="bg-gray-50 rounded-xl shadow-inner p-4 border mt-2">
            <h3 class="font-bold mb-4 text-blue-700 text-lg flex items-center gap-2"><span class="material-icons text-blue-400">list_alt</span> Manifestaciones registradas</h3>
            <app-tablaEdit
              [encabezados]="['abogado','parte','pruebas']"
              [columnas]="['nombreCompleto','parte','pruebas']"
              [datos]="pruebasTabla"
              [acciones]="true"
              [mostrarEditar]="true"
              [editar]="editarPruebas.bind(this)"
              [eliminar]="eliminarPruebas.bind(this)"
            >
            </app-tablaEdit>
          </div>



    </app-card-Form>


  </app-card-Form>

  <app-card-Form [hidden]="currentTab!='2'" >
    <app-card-Form [titulo]="'testimonios '">
      <div class="space-y-8">

          <div class="bg-white rounded-xl shadow-md p-6 border flex flex-col md:flex-row md:items-end gap-4">
            <form [formGroup]="testimoniosForm" class="flex flex-col w-full gap-4">
              <div class="w-full md:w-1/3 flex gap-2 items-end">
                <div class="flex-1">
                  <label class="block text-sm font-semibold text-gray-700 mb-1">Se concede la palabra a</label>
                  <select formControlName="participanteIndex" class="block w-full rounded-lg border border-gray-300 shadow-sm px-3 py-2 focus:border-blue-500 focus:ring-blue-500">
                    <option value="">Seleccione</option>
                    <option *ngFor="let p of participantesNoAfectados" [value]="p.idx">{{p.nombres}} {{p.apellidos}}</option>
                  </select>
                </div>
                <div class="flex-1">
                  <label class="block text-sm font-semibold text-gray-700 mb-1">Parte</label>
                  <select formControlName="parte" class="block w-full rounded-lg border border-gray-300 shadow-sm px-3 py-2 focus:border-blue-500 focus:ring-blue-500">
                    <option value="">Seleccione parte</option>
                    <option value="Actora">Actora</option>
                    <option value="Accionada">Accionada</option>

                  </select>
                </div>
              </div>
              <div class="flex-1">
                <label class="block text-sm font-semibold text-gray-700 mb-1">Manifiesta</label>
                <textarea formControlName="testimonio" rows="3" placeholder="Escriba aquí la intervención..." class="w-full  border border-dotted border-gray-300 px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 font-mono"></textarea>
              </div>
              <div class="flex items-end gap-2">
                @if (modoEdicionTestimonios) {
                  <app-button-submit
                    type="button"
                    label="Actualizar"
                    color="submit"
                    (clicked)="agregarTestimoniosParticipante()"
                  ></app-button-submit>
                  <app-button-submit
                    type="button"
                    label="Cancelar"
                    color="cancelar"
                    (clicked)="cancelarEdicionTestimonios()"
                  ></app-button-submit>
                } @else {
                  <app-button-submit
                    type="button"
                    label="Agregar"
                    color="accion"
                    (clicked)="agregarTestimoniosParticipante()"
                  ></app-button-submit>
                }
              </div>
            </form>
          </div>
          <div class="bg-gray-50 rounded-xl shadow-inner p-4 border mt-2">
            <h3 class="font-bold mb-4 text-blue-700 text-lg flex items-center gap-2"><span class="material-icons text-blue-400">list_alt</span> Manifestaciones registradas</h3>
            <app-tablaEdit
              [encabezados]="['Nombre','testimonio']"
              [columnas]="['nombreCompleto','testimonio']"
              [datos]="testimoniosTabla"
              [acciones]="true"
              [mostrarEditar]="true"
              [editar]="editarTestimonios.bind(this)"
              [eliminar]="eliminarTestimonios.bind(this)"
            >
            </app-tablaEdit>
          </div>
        </div>


    </app-card-Form>

  </app-card-Form>

  <app-card-Form [hidden]="currentTab!='3'" >

    <app-card-Form [titulo]="'audiencia'">
      <div class=" text-gray-800 text-justify leading-relaxed">
  <!-- Párrafo formal -->
  <p class="mb-4">
    Una vez escuchadas las versiones de las partes, y receptadas todas las pruebas;
     se les pide que abandonen momentáneamente la sala para dar paso
      a la audiencia reservada con el adolescente

    @for (afectado of participantesAfectados; track $index) {
      <span class="font-bold ">{{afectado.nombres}} {{afectado.apellidos}}</span>
    }

    Quién indica:
  </p>


  <!-- Input para escribir las pruebas -->
  <textarea
    type="text"
    placeholder="Describa las pruebas testimoniales aquí..."
    formControlName="afectadoManifiesta"
    class="w-full border border-gray-300 rounded-md px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
  ></textarea>
</div>

    </app-card-Form>

  </app-card-Form>
  <app-card-Form [hidden]="currentTab!='4'" >
     <app-card-Form [titulo]="'Vulneraciones'">
      <form  [formGroup]="vulneracionesIdentificadasForm" >
  <!-- Párrafo formal -->
  <p class="mb-4">
     Se trata de una vulneración:</p>
      <!-- Selector de afectados -->
           <div class="grid grid-cols-3 gap-2">
            <div class="h-full">
            <label
              for="afectados"
              class="block text-sm font-medium text-gray-700 "
              >Seleccionar afectado</label
            >
            <select
              (change)="vulnercionIdentificada($event)"
              id="afectados"
              formControlName="idAfectado"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
            >
              <option value=""  disabled selected hidden >Seleccione...</option>
              @for (item of afectados; track $index) {
              <option [value]="item.id">{{ item.nombres }}</option>
              }
            </select>

            <div>
            <label
              for="medida"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              medida</label
            >
            <input
              type="text"
              [readonly]="true"
              formControlName="vulneracion"
              id="vulneracion"
              name="vulneracion"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="vulneracion"
            />
          </div>

          <div>
            <label
              for="detalles"
              class="block text-sm font-medium text-gray-700 mb-1"
              >Observaciones</label
            >
            <textarea
              id="detalles"
              formControlName="detalles"
              name="detalles"
              rows="3"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="Escriba sus observaciones..."
            ></textarea>
          </div>

          </div>



          <!-- Lista de vulneraciones -->
          <div class=" col-span-2 h-48 overflow-y-auto scrollbar-hide my-4  rounded-xl p-1 ring-1 ring-blue-200">

              <div class="space-y-3">
                <div
                  *ngFor="let v of vulneraciones"
                  class="bg-gray-50 rounded-lg p-3 hover:bg-gray-100 cursor-pointer flex items-start"
                >
                  <div class="flex items-center h-5">
                    <input
                      type="radio"
                      [value]="v.id"
                      [formControlName]="'idVulneracion'"
                      [id]="'medida-' + v.id"
                      class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
                    />
                  </div>
                  <div class="ml-3">
                    <label
                      [for]="'medida-' + v.id"
                      class="text-sm text-gray-700"
                    >
                      {{ v.vulneracion }}
                    </label>
                  </div>
                </div>
              </div>



          </div>

           </div>
          <div class="mt-2">
            <button
              type="button"
              (click)="agregarVulneracionIdentificada()"

              class="bg-blue-600 text-white text-sm px-5 py-2 rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              Guardar
            </button>
          </div>


     <div


          class="mt-4 bg-white rounded shadow"
        >
          <app-tablaEdit
            [encabezados]="['Afectado','vulneracion','detalles']"
            [columnas]="['nombres', 'vulneracion', 'detalles']"
            [datos]="vulneracionesIdentificadas"
             [acciones]="true"
            [eliminar]="eliminarVulneracionIdentificada.bind(this)"
          ></app-tablaEdit>
        </div>



</form>

    </app-card-Form>

    <app-card-Form [titulo]="'medidas'">

  <!-- Párrafo formal -->

 <!-- Formulario para agregar medida -->
        <form [formGroup]="medidasDefinitivasForm" class="">
          <p >
    Se establecen las siguientes medidas de protección:
</p>
          <!-- Selector de afectados -->
           <div class="grid grid-cols-3 gap-2">
            <div class="h-full">
            <label
              for="afectados"
              class="block text-sm font-medium text-gray-700 "
              >Seleccionar afectado</label
            >
            <select
              (change)="medidasDefinitivas($event)"
              id="afectados"
              formControlName="idAfectado"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
            >
              <option value=""  disabled selected hidden >Seleccione...</option>
              @for (item of afectados; track $index) {
              <option [value]="item.id">{{ item.nombres }}</option>
              }
            </select>

            <div>
            <label
              for="medida"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              medida</label
            >
            <input
              type="text"
              [readonly]="true"
              formControlName="medida"
              id="medida"
              name="medida"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="medida"
            />
          </div>
          <div>
            <label
              for="periodo"
              class="block text-sm font-medium text-gray-700 mb-1"
              >Por periodo</label
            >
            <input
              type="text"
              formControlName="periodo"
              id="periodo"
              name="periodo"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="Ej: Julio - Septiembre"
            />
          </div>
          <div>
            <label
              for="observaciones"
              class="block text-sm font-medium text-gray-700 mb-1"
              >Observaciones</label
            >
            <textarea
              id="observaciones"
              formControlName="observaciones"
              name="observaciones"
              rows="3"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="Escriba sus observaciones..."
            ></textarea>
          </div>

          </div>

          <!-- Tabla de medidas -->
          <!-- Tabla de medidas emergentes -->

          <!-- Lista de medidas por artículo -->
          <div class="flex col-span-2 my-4 gap-2 h-60 ">
            @for (articulo of medidasPorArticulo; track $index) {

            <div
              class="bg-white ring-1 ring-blue-200 rounded-lg shadow-md pt-0 p-1  overflow-auto"
            >
              <h3
                class="bg-white sticky top-0 text-lg font-semibold text-gray-800 mb-1 h-8"
              >
                {{ articulo.articulo }}
              </h3>

              <div class="space-y-3">
                <div
                  *ngFor="let medida of articulo.medidas"
                  class="bg-gray-50 rounded-lg p-3 hover:bg-gray-100 cursor-pointer flex items-start"
                >
                  <div class="flex items-center h-5">
                    <input
                      type="radio"
                      [value]="medida.id"
                      [formControlName]="'idMedida'"
                      [id]="'medida-' + medida.id"
                      class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
                    />
                  </div>
                  <div class="ml-3">
                    <label
                      [for]="'medida-' + medida.id"
                      class="text-sm text-gray-700"
                    >
                      {{ medida.medida }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            }
          </div>

           </div>
          <div class="mt-2">
            @if (editMediasMode ) {
              <button
              type="button"
              (click)="actualizarMedida()"
              class="bg-blue-600 text-white text-sm px-5 py-2 rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              Actualizar
            </button>

            }@else {
              <button
              type="button"
              (click)="agregarMedida(medidasDefinitivasForm)"
              class="bg-blue-600 text-white text-sm px-5 py-2 rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              Guardar
            </button>

            }

          </div>
        </form>
        <div
          formArrayName="medidasDefinitivas"
          class="mt-4 bg-white rounded shadow"
        >
          <app-tablaEdit
            [encabezados]="['ID', 'Medida ', 'Periodo', 'Observaciones']"
            [columnas]="['idMedida', 'medida', 'periodo', 'observaciones']"
            [datos]="medidasDefinitivasArray"
            [acciones]="true"
            [mostrarEditar]="true"
            [eliminar]="eliminarMedida.bind(this)"
            [editar]="SeleccionarParaEditar.bind(this)"
          ></app-tablaEdit>
        </div>

    </app-card-Form>

  </app-card-Form>
  @if (pdfSrc) {
        <div class="pdf-container" [hidden]="currentTab !== '5'">
          <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
        </div>
      }
</form>

