<div [formGroup]="formGroup">
  <div>
    <label>nombres</label>
    <input type="text" formControlName="nombres" class="border w-full p-2" />
  </div>

  <div>
    <label>apellidos</label>
    <input type="text" formControlName="apellidos" class="border w-full p-2" />
  </div>

  <div>
    <label>cedula</label>
    <input type="text" formControlName="cedula" class="border w-full p-2" />
  </div>

  <div>
    <label>edad</label>
    <input formControlName="edad" class="border w-full p-2"/>


  </div>

  <div>
    <label>genero </label>
    <input type="text" formControlName="genero" class="border w-full p-2" />
  </div>



</div>
