<div class="p-6 bg-white rounded-lg shadow-md">
  <!-- Lista de Vulneraciones -->
  <div [formGroup]="formGroup" class="mt-4">
    <h3 class="text-lg font-medium text-gray-900 mb-4">Seleccione las Vulneraciones</h3>
    
    <div class="space-y-2">
      <div *ngFor="let vulneracion of vulneraciones"
           class="flex items-center p-3 bg-gray-50 rounded-lg hover:bg-gray-100 cursor-pointer"
           (click)="toggleVulneracion(vulneracion.id)">
        <div class="flex items-center h-5">
          <input
            type="checkbox"
            [checked]="isVulneracionSelected(vulneracion.id)"
            class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
            (click)="$event.stopPropagation()"
          >
        </div>
        <div class="ml-3">
          <label class="text-sm font-medium text-gray-700">
            {{vulneracion.vulneracion}}
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="formGroup.get('ids')?.errors?.['required'] && formGroup.get('ids')?.touched"
         class="mt-2 text-sm text-red-600">
      Debe seleccionar al menos una vulneración
    </div>
  </div>
</div>
