<div class="p-6 bg-white rounded-lg shadow-md">
  <!-- Lista de Vulneraciones -->
  <div [formGroup]="vulneracionesForm" class="mt-4">
    <h3 class="text-lg font-medium text-gray-900 mb-4">
      Seleccione las Vulneraciones
    </h3>
    <div class="mb-4">
      <button
        type="button"
        (click)="agregarVulneraciones()"
        class="bg-blue-500 text-white px-4 py-2 rounded"
      >
        Agregar Vulneraciones
      </button>
    </div>
    <!--selector de afectados-->
    <div class="">
      <label class="block text-sm font-medium text-gray-700">afectados</label>
      <select
        formControlName="id_afectado"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
      >
        <option value="">Seleccione afectado</option>
        @for(afectado of formAfectados.controls; track afectado; let i = $index)
        {

        <option [value]="i">{{ afectado.value.nombres }}</option>

        }
      </select>
    </div>
    <!--seleccionar vulneraciones-->



    <div class="h-48 overflow-y-auto mt-4">
      <fieldset class="space-y-2">
        <div
          *ngFor="let v of vulneraciones"
          class="flex items-center p-3 bg-gray-50 rounded-lg hover:bg-gray-100 cursor-pointer"
        >
          <div class="flex items-center h-5">
            <input
              [checked]="isVulneracionSelected(v.id)"
              (change)="toggleVulneracion(v.id)"

              type="checkbox"
              class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
            />
          </div>
          <div class="ml-3">
            <label class="text-sm font-medium text-gray-700">
              {{ v.vulneracion }}
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!--mensajes de error inicio-->
    <div
      *ngIf="vulneracionesForm.get('vulneraciones')?.errors?.['required'] && vulneracionesForm.get('vulneraciones')?.touched"
      class="mt-2 text-sm text-red-600"
    >
      Debe seleccionar al menos una vulneración
    </div>
    <!--mensajes de erro fin-->
  </div>
</div>
