<div class=" shrink-0 w-64 bg-gray-50 border-l-4 border-gray-400 p-4 rounded shadow-sm  "
     [ngClass]="{'border-green-400 bg-green-50': estatus === 'completada', 'border-gray-400 bg-gray-50 ': estatus !=='completada', 'border-gray-400 bg-gray-50 inset-shadow-sm/30  ': estatusFaseAnterior !=='completada'}">

      @if (queryParams) {

        <a [routerLink]="[link,idDenuncia]"
        [ngClass]="{ 'cursor-not-allowed pointer-events-none opacity-45 ': estatusFaseAnterior !=='completada'}"

      >
        <h3 class="text-lg font-bold text-gray-700">{{titulo}}</h3>
        <p class="text-sm text-gray-600"
        [ngClass]="{'text-sm text-green-500': estatus === 'completada', 'border-gray-400 bg-gray-50': estatus !=='completada'}"

        >{{estatus||'pendiente'}}</p>

      </a>

      }@else {
         <a [routerLink]="estatus=== 'completada' ? [link,'editar', idDenuncia] : [link,'crear', idDenuncia]"

          [ngClass]="{ 'cursor-not-allowed pointer-events-none opacity-45 ': estatusFaseAnterior !=='completada'}"

      >
        <h3 class="text-lg font-bold text-gray-700">{{titulo}}</h3>
        <p class="text-sm text-gray-600"
        [ngClass]="{'text-sm text-green-500': estatus === 'completada', 'border-gray-400 ': estatus !=='completada'}"

        >{{estatus||'pendiente'}}</p>

      </a>

      }






 



      </div>
