<div class="p-1">
  <div class="flex justify-between items-center mb-6 border-b pb-3">
    <button routerLink="/admin/usuarios/formulario" class="bg-yellow-400 hover:bg-yellow-500 text-white px-4 py-2 rounded flex items-center" >
      <span class="mr-2">Nuevo usuario</span>
      <span class="text-lg">+</span>
    </button>
  </div>
  <div class="bg-white  rounded-2xl p-4 shadow-xl " >
    <h6 class=" font-bold mb-4">Usuarios registrados </h6>
   <div class=" overflow-x-auto shadow-md bg-white border-2 border-blue-100  rounded-2xl">
    <global-tabla
     [columnas]="['id', 'usuario', 'nombres','apellidos','rol','canton']"
  [encabezados]="['#', 'Usuario', 'Nombres','Apellidos','Rol','Cantón']"
  [datos]="usuarios"
  [acciones]="true"
  [botonEstado]="true"
  [estado]="cambiarEstado.bind(this)"
  [eliminar]="eliminar.bind(this)"
  [editar]="editar.bind(this)"
    >
  </global-tabla>
    <!--<table class="table-auto w-full text-sm text-left  ">
      <thead class="bg-blue-50  ">
        <tr class="">
          <th class=" p-2">#</th>
          <th class=" p-2">Usuario</th>
          <th class=" p-2">Nombres</th>
          <th class=" p-2">Apellidos</th>

          <th class=" p-2">Rol</th>
          <th class=" p-2">Cantón</th>
          <th class=" p-2">Estado</th>

          <th class=" p-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuarios" class="hover:bg-gray-50 border-t-2 border-t-blue-100">
          <td class="  p-2">{{user.id}}</td>
          <td class=" p-2">{{user.usuario}}</td>
          <td class=" p-2">{{user.nombres}}</td>
          <td class=" p-2">{{user.apellidos}}</td>
          <td class=" p-2">{{user.rol}}</td>
          <td class=" p-2">{{user.canton?.canton}}</td>
            <td class=" p-2">
            <button
                (click)="cambiarEstado(user)"
                class="px-2 py-1 rounded text-white"
                [ngClass]="user.isactivo ? 'bg-green-500' : 'bg-gray-500'">
                {{ user.isactivo ? 'Activo' : 'Deshabilitado' }}
              </button>
          </td>






          <td class="p-2 space-x-1">
            <button (click)="editar(user)" class="bg-blue-500 hover:bg-blue-600 text-white text-xs px-2 py-1 rounded" >Editar</button>

            <button (click)="eliminar(user.id)" class="bg-red-500 hover:bg-red-600 text-white text-xs px-2 py-1 rounded" >Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>

  </div>


</div>


