<div class="p-1">
  <div class="flex justify-between items-center mb-6 border-b pb-3">
    <button routerLink="/admin/usuarios/formulario" class="bg-yellow-400 hover:bg-yellow-500 text-white px-4 py-2 rounded flex items-center" >
      <span class="mr-2">Nuevo usuario</span>
      <span class="text-lg">+</span>
    </button>
  </div>
  <div class="bg-white  rounded-2xl p-4 shadow-xl " >
    <h6 class=" font-bold mb-4">Usuarios registrados </h6>
   <div class=" overflow-x-auto shadow-md bg-white border-2 border-blue-100  rounded-2xl">
    <app-tablaEdit
     [columnas]="['id', 'usuario', 'nombres','apellidos','rol','canton']"
  [encabezados]="['#', 'Usuario', 'Nombres','Apellidos','Rol','Cantón']"
  [datos]="usuarios"
  [acciones]="true"
  [botonEstado]="true"
  [mostrarEditar]="true"
  [estado]="cambiarEstado.bind(this)"
  [eliminar]="eliminar.bind(this)"
  [editar]="editar.bind(this)"
    >
  </app-tablaEdit>
   
  </div>

  </div>


</div>


