
<div class="">
  <div class="pl-2 py-2 mb-1 flex items-center gap-2">
  <a
    [routerLink]="editMode ? [`../../../fases/${idDenuncia}`] : [`/${grupo}`]"

      class=" px-3 py-1 font-medium rounded-xl  text-base text-left leading-tight transition-colors duration-200 flex items-center justify-center bg-gray-500 text-white hover:bg-gray-600  focus:ring-2 focus:ring-gray-500"
    >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class=" size-5 ">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>

    </a>
  <h3 class="text-2xl font-bold">Denuncia</h3>

</div>
<hr class="border-yellow-300 border-1" />

<hr class="border-yellow-300 border-1">
<form [formGroup]="denunciaForm"  class="space-y-6">
  <!-- Sección de Número de Trámite -->
  <section>
    <label class="block text-sm font-medium text-gray-700">Número de Trámite</label>
    <div class="mt-1 grid grid-cols-2 max-w-md">
      <input
        type="text"
        id="num_tramite"

        formControlName="num_tramite"
        class="min-w-0 block px-2 py-0.5 text-base rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
        placeholder="Ingrese el número"
         [readonly]="numTramiteDisabled"

      />

      <span
        class="items-center text-base  rounded-r-md border border-l-0 border-gray-300 bg-gray-50 text-gray-500"
      >
        -JCPD-{{ canton }}-{{ anioActual }}-{{this.grupo === 'nna' ? 'NIÑOS' : 'AM'}}
      </span>
    </div>
    <div
      *ngIf="denunciaForm.get('num_tramite')?.errors?.['required'] && denunciaForm.get('num_tramite')?.touched"
      class="mt-1 text-sm text-red-600"
    >
      El número de trámite es requerido
    </div>
    <div
      *ngIf="denunciaForm.get('num_tramite')?.errors?.['pattern'] && denunciaForm.get('num_tramite')?.touched"
      class="mt-1 text-sm text-red-600"
    >
      Solo se permiten números
    </div>
  </section>
  <!-- Seccion de canal de ingreso y tipo de denuncia -->
  <section class="flex flex-col md:flex-row md:items-end md:space-x-6 space-y-6 md:space-y-0">


  <!-------------------- Tipo de Denuncia (Checkboxes) --------------------->
  <div class="flex-1">
    <label class="block text-sm font-medium text-gray-700 mb-2">Tipo de denuncia</label>
    <div class="w-full border  rounded-lg px-4 py-2 border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
    [ngClass]="{
          ' border-1 border-red-500': denunciaForm.get('tipo_denuncia')?.invalid && denunciaForm.get('tipo_denuncia')?.touched
        }">

      <label class="flex items-center space-x-2 cursor-pointer">
        <input
          type="radio"
          class="h-5 w-5 text-yellow-500 border-gray-300 rounded focus:ring-yellow-400"
          formControlName="tipo_denuncia"
          value="oficio"

        />
        <span>Por oficio</span>
      </label>

      <label class="flex items-center space-x-2 cursor-pointer">
        <input
          type="radio"
          class="h-5 w-5 text-yellow-500 border-gray-300 rounded focus:ring-yellow-400"
          formControlName="tipo_denuncia"
          value="externa"

        />
        <span>Externa</span>
      </label>

    </div>
    <div
      *ngIf="
        denunciaForm.get('tipo_denuncia')?.invalid && denunciaForm.get('tipo_denuncia')?.touched
      "
      class="text-red-500 text-sm mt-1"
    >
      <span *ngIf="denunciaForm.get('tipo_denuncia')?.errors?.['required']"
        >El tipo de denuncia es requerido</span

      >
    </div>
  </div>

  <!--------------------- Canal de Ingreso -------------->
  <div class="flex-1">
    <label class="block text-sm font-medium text-gray-700 mb-2">Canal de ingreso</label>
    <select
    formControlName="medio"

      class="w-full border  rounded-lg px-4 py-2 border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
      [ngClass]="{
          ' border-1 border-red-500': denunciaForm.get('medio')?.invalid && denunciaForm.get('medio')?.touched
        }"
    >
      <option value="" disabled selected hidden>Seleccioná una opción</option>
      <option value="presencial">Presencial</option>
      <option value="whatsapp">WhatsApp</option>
      <option value="parte_policial">Parte policial</option>
      <option value="otro">Otro</option>
    </select>
    <div
      *ngIf="
        denunciaForm.get('medio')?.invalid && denunciaForm.get('medio')?.touched
      "
      class="text-red-500 text-sm mt-1"
    >
      <span *ngIf="denunciaForm.get('medio')?.errors?.['required']"
        >El medio es requerido</span>
    </div>
  </div>


</section>

  <!-----------------------tabs----------------------->
  <app-nav-formulario
  [tabs]="tabsConfig"
  [actions]="actionsConfig"
  [currentTab]="currentTab"
  (tabChanged)="cambiarTab($event)"
  (actionClicked)="handleAction($event)"
></app-nav-formulario>




  <section  class="bg-gray-50 p-4 shadow-lg border-t-1 border-t-blue-300 overflow-y-scroll h-[calc(100vh-8rem)] ">
     <!--------------- Sección del Denunciante------------- -->

    <app-card-Form [titulo]="'Datos del Denunciante'" [hidden]="currentTab !== 0" id="datosGenerales" [class]="((existeAvocatoria && !isEditDenunciaActivate ) || (!isEditDenunciaActivate && editMode) ? ' opacity-45 bg bg-gray-50' : '')">

      <div class="bg-white rounded-xl shadow-md p-4 border  ">
         <nna_creardenuncia_denunciante
      [formGroup]="denuncianteForm"
      ></nna_creardenuncia_denunciante>
      </div>



    </app-card-Form>
    <!-- Sección de Afectados -->

      <app-card-Form [titulo]="'Datos de los Afectados'" [hidden]="currentTab !== 0" [class]="((existeAvocatoria && !isEditDenunciaActivate ) || (!isEditDenunciaActivate && editMode) ? ' opacity-45 bg bg-gray-50' : '')"
      >
      <div
       class="bg-white rounded-xl shadow-md p-4 border  "
       [ngClass]="{
          ' border-1 border-red-500': denunciaForm.get('afectados')?.invalid && denunciaForm.get('afectados')?.touched
        }">
        @if (denunciaForm.get('afectados')?.errors?.['required'] && denunciaForm.get('afectados')?.touched) {
            <div

          class="mt-1 text-sm text-red-600"
        >
          al menos un afectado es requerido
        </div>

        }

        <nna_creardenuncia_afectado
          [formArray]="afectadosArray"
        ></nna_creardenuncia_afectado>

    </div>

      </app-card-Form>

    <!------------------------- Sección de Denunciados------------------ -->

      <app-card-Form [titulo]="'Datos de los Denunciados'" [hidden]="currentTab !== 0" [class]="((existeAvocatoria && !isEditDenunciaActivate ) || (!isEditDenunciaActivate && editMode) ? ' opacity-45 bg bg-gray-50' : '')" >
        <div
        class="bg-white rounded-xl shadow-md p-4 border  "
       [ngClass]="{
          ' border-1 border-red-500': denunciaForm.get('denunciados')?.invalid && denunciaForm.get('denunciados')?.touched
        }">
          @if (denunciaForm.get('denunciados')?.errors?.['required'] && denunciaForm.get('denunciados')?.touched) {
            <div

          class="mt-1 text-sm text-red-600"
        >
          al menos un denunciado es requerido
        </div>

        }

        <nna_creardenuncia_denunciado
          [formArray]="denunciadosArray"
        ></nna_creardenuncia_denunciado>

      </div>

      </app-card-Form>


    <!--------------- Sección de Hechos --------------------->

      <app-card-Form [titulo]="'Hechos'" [hidden]="currentTab !== 1" id="hechos" [class]="((existeAvocatoria && !isEditDenunciaActivate ) || (!isEditDenunciaActivate && editMode) ? ' opacity-45 bg bg-gray-50' : '')">
         <!-- Descripción de Hechos -->
      <div class="mb-6">
        <label
          for="descripcion_hechos"
          class="block text-sm font-medium text-gray-700"
        >
          Descripción de los Hechos
        </label>
        <textarea
          id="descripcion_hechos"
          formControlName="descripcion_hechos"
          rows="4"
          class="mt-1 block w-full rounded-md   border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
          [ngClass]="{
            'border-1 border-red-500': denunciaForm.get('descripcion_hechos')?.invalid && denunciaForm.get('descripcion_hechos')?.touched
          }"
          placeholder="Describa los hechos ocurridos..."
        ></textarea>
        @if (denunciaForm.get('descripcion_hechos')?.errors?.['required'] && denunciaForm.get('descripcion_hechos')?.touched) {
            <div

          class="mt-1 text-sm text-red-600"
        >
          La descripción es requerida
        </div>

        }

        <div
          *ngIf="denunciaForm.get('descripcion_hechos')?.errors?.['minlength'] && denunciaForm.get('descripcion_hechos')?.touched"
          class="mt-1 text-sm text-red-600"
        >
          La descripción debe tener al menos 10 caracteres
        </div>
      </div>



      </app-card-Form>

      <!-- Sección de Vulneraciones -->

      <app-card-Form [titulo]="'Vulneraciones'" [hidden]="currentTab !== 1" [class]="((existeAvocatoria && !isEditDenunciaActivate ) || (!isEditDenunciaActivate && editMode) ? ' opacity-45 bg bg-gray-50' : '')">

        @if (denunciaForm.get('vulneraciones')?.errors?.['required'] && denunciaForm.get('vulneraciones')?.touched) {
            <div

          class="mt-1 text-sm text-red-600"
        >
          al menos una vulneración es requerida
        </div>

        }
        <div class="bg-white rounded-xl shadow-md p-4 border  "
       [ngClass]="{
          ' border-1 border-red-500': denunciaForm.get('vulneraciones')?.invalid && denunciaForm.get('vulneraciones')?.touched
        }">
         <!-- Lista de Vulneraciones -->
      <app-nna_creardenuncia_vulneraciones
        [formArray]="vulneracionesForm"
        [formAfectados]="afectadosArray"
      ></app-nna_creardenuncia_vulneraciones>

        </div>

      </app-card-Form>

       <!-- Descripción de solicitud -->
      <app-card-Form [titulo]="'Solicitud'" [hidden]="currentTab !== 1" [class]="((existeAvocatoria && !isEditDenunciaActivate ) || (!isEditDenunciaActivate && editMode) ? ' opacity-45 bg bg-gray-50' : '')">
        <label
          for="descripcion_solicitud"
          class="block text-sm font-medium text-gray-700"
        >
          Solicitud
        </label>
        <textarea
          id="solicitud"
          formControlName="solicitud"
          rows="4"
          class="mt-1 block w-full rounded-md  border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
          [ngClass]="{
            'border-1 border-red-500': denunciaForm.get('solicitud')?.invalid && denunciaForm.get('solicitud')?.touched
          }"
          placeholder="Describa las solicitudes"
        ></textarea>
        <div
          *ngIf="denunciaForm.get('solicitud')?.errors?.['required'] && denunciaForm.get('solicitud')?.touched"
          class="mt-1 text-sm text-red-600"
        >
          La descripción es requerida
        </div>
        <div
          *ngIf="denunciaForm.get('solicitud')?.errors?.['minlength'] && denunciaForm.get('solicitud')?.touched"
          class="mt-1 text-sm text-red-600"
        >
          La descripción debe tener al menos 10 caracteres
        </div>

      </app-card-Form>
 <!--  ----------------------Lista de Medidas --------------->
      <app-card-Form [titulo]="'Medidas de Protección'" [hidden]="currentTab !== 1" [class]="((existeAvocatoria && !isEditDenunciaActivate ) || (!isEditDenunciaActivate && editMode) ? ' opacity-45 bg bg-gray-50' : '')">
       @if (denunciaForm.get('vulneraciones')?.errors?.['required'] && denunciaForm.get('vulneraciones')?.touched) {
            <div

          class="mt-1 text-sm text-red-600"
        >
          al menos una medida es requerida
        </div>

        }
        <div class="bg-white rounded-xl shadow-md p-4 border  "
       [ngClass]="{
          ' border-1 border-red-500': denunciaForm.get('medidas')?.invalid && denunciaForm.get('medidas')?.touched
        }">
        <app-crear_denuncia_medidas
          [formArray]="medidasForm"
          [formAfectados]="afectadosArray"
        ></app-crear_denuncia_medidas>


        </div>



      </app-card-Form>

      @if (pdfSrc) {
        <div class="pdf-container" [hidden]="currentTab !== 2">
          <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
        </div>
      }

  </section>


</form>

</div>
