<!--
        <form [formGroup]="medidasEmergentesForm" class="">


          <p>Así mismo se disponen las medidas de protección:</p>
          
           <div class="grid grid-cols-3 gap-2">
            <div class="h-full">
            <label
              for="afectados"
              class="block text-sm font-medium text-gray-700 "
              >Seleccionar afectado</label
            >
            <select
              (change)="medidasEmergentes($event)"
              id="afectados"
              formControlName="idAfectado"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none"
              [ngClass]="{
          ' border-1 border-red-500': medidasEmergentesForm.get('idAfectado')?.invalid && medidasEmergentesForm.get('idAfectado')?.touched
        }"
              >
              <option value=""  disabled selected hidden >Seleccione...</option>
              @for (item of afectados; track $index) {
              <option [value]="item.id">{{ item.nombres }}</option>
              }
            </select>
            <div
      *ngIf="
        medidasEmergentesForm.get('idAfectado')?.invalid && medidasEmergentesForm.get('idAfectado')?.touched
      "
      class="text-red-500 text-sm mt-1"
    >
      <span *ngIf="medidasEmergentesForm.get('idAfectado')?.errors?.['required']"
        >Debe seleccionar un afectado</span>
    </div>

            <div>
            <label
              for="medida"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              medida</label
            >
            <input
              type="text"
              [readonly]="true"
              formControlName="medida"
              id="medida"
              name="medida"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="medida"
              [ngClass]="{
          ' border-1 border-red-500': medidasEmergentesForm.get('idAfectado')?.invalid && medidasEmergentesForm.get('idAfectado')?.touched
        }"
            />
            <div
      *ngIf="
        medidasEmergentesForm.get('idMedida')?.invalid && medidasEmergentesForm.get('idMedida')?.touched
      "
      class="text-red-500 text-sm mt-1"
    >
      <span *ngIf="medidasEmergentesForm.get('idMedida')?.errors?.['required']"
        >Debe seleccionar una medida</span>
    </div>

          </div>
          <div>
            <label
              for="periodo"
              class="block text-sm font-medium text-gray-700 mb-1"
              >Por periodo</label
            >
            <input
              type="text"
              formControlName="periodo"
              id="periodo"
              name="periodo"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="Ej: Julio - Septiembre"
              [ngClass]="{
          ' border-1 border-red-500': medidasEmergentesForm.get('periodo')?.invalid && medidasEmergentesForm.get('periodo')?.touched
        }"
            />
            <div
      *ngIf="
        medidasEmergentesForm.get('idMedida')?.invalid && medidasEmergentesForm.get('idMedida')?.touched
      "
      class="text-red-500 text-sm mt-1"
    >
      <span *ngIf="medidasEmergentesForm.get('periodo')?.errors?.['required']"
        >Debe introducir el periodo</span>
    </div>
          </div>
          <div>
            <label
              for="observaciones"
              class="block text-sm font-medium text-gray-700 mb-1"
              >Observaciones</label
            >
            <textarea
              id="observaciones"
              formControlName="observaciones"
              name="observaciones"
              rows="3"
              class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none placeholder-gray-400 placeholder-opacity-75"
              placeholder="Escriba sus observaciones..."
              [ngClass]="{
          ' border-1 border-red-500': medidasEmergentesForm.get('periodo')?.invalid && medidasEmergentesForm.get('periodo')?.touched
        }"
            ></textarea>
          </div>
          <div
      *ngIf="
        medidasEmergentesForm.get('observaciones')?.invalid && medidasEmergentesForm.get('observaciones')?.touched
      "
      class="text-red-500 text-sm mt-1"
    >
      <span *ngIf="medidasEmergentesForm.get('observaciones')?.errors?.['required']"
        >Debe introducir observaciones</span>
    </div>

          </div>


          <div class="flex col-span-2 my-4 gap-2 h-60 ">
            @for (articulo of medidasPorArticulo; track $index) {

            <div
              class="bg-white ring-1 ring-blue-200 rounded-lg shadow-md pt-0 p-1  overflow-auto"
            >
              <h3
                class="bg-white sticky top-0 text-lg font-semibold text-gray-800 mb-1 h-8"
              >
                {{ articulo.articulo }}
              </h3>

              <div class="space-y-3">
                <div
                  *ngFor="let medida of articulo.medidas"
                  class="bg-gray-50 rounded-lg p-3 hover:bg-gray-100 cursor-pointer flex items-start"
                >
                  <div class="flex items-center h-5">
                    <input
                      type="radio"
                      [value]="medida.id"
                      [formControlName]="'idMedida'"
                      [id]="'medida-' + medida.id"
                      class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
                    />
                  </div>
                  <div class="ml-3">
                    <label
                      [for]="'medida-' + medida.id"
                      class="text-sm text-gray-700"
                    >
                      {{ medida.medida }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            }
          </div>

           </div>



          <div class="mt-2">
            @if (editMediasMode && editMode) {
              <button
              type="button"
              (click)="actualizarMedidasEditMode()"
              class="bg-blue-600 text-white text-sm px-5 py-2 rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              Actualizar
            </button>

            }@else {
              <button
              type="button"
              (click)="agregarMedidas()"
              class="bg-blue-600 text-white text-sm px-5 py-2 rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              Guardar
            </button>

            }

          </div>
        </form>
        <div
          formArrayName="mediasEmergentes"
          class="mt-4 bg-white rounded shadow"
        >
          <app-tablaEdit
            [encabezados]="['ID', 'Medida ', 'Periodo', 'Observaciones']"
            [columnas]="['idMedida', 'medida', 'periodo', 'observaciones']"
            [datos]="filteredMedidas"
            [acciones]="true"
            [mostrarEditar]="true"
            [eliminar]="eliminar.bind(this)"
            [editar]="editar.bind(this)"
          ></app-tablaEdit>
        </div>
      -->
