<div class="vh-100 flex justify-center items-center bg-gray-100">
  <div class="bg-white shadow-lg p-6 rounded w-[300px]">
    <h4 class="text-center mb-4 text-lg font-semibold">Iniciar sesión</h4>
    <form [formGroup]="form" (ngSubmit)="iniciarSesion()">
      <div class="mb-4">
        <label for="correo" class="block text-sm font-medium mb-1">Correo electrónico</label>
        <input type="email" id="correo" formControlName="correo" class="w-full border px-3 py-2 rounded" />
      </div>
      <div class="mb-4">
        <label for="contrasena" class="block text-sm font-medium mb-1">Contraseña</label>
        <input type="password" id="contrasena" formControlName="contrasena" class="w-full border px-3 py-2 rounded" />
      </div>
      <button type="submit" class="bg-blue-600 text-white w-full py-2 rounded hover:bg-blue-700 transition">Ingresar</button>
    </form>
  </div>
</div>

