<div class="pl-2 py-2 mb-1 flex items-center gap-2">
  <a
    [routerLink]="[`../../fases/${denunciaId}`]"

      class=" px-3 py-1 font-medium rounded-xl  text-base text-left leading-tight transition-colors duration-200 flex items-center justify-center bg-gray-500 text-white hover:bg-gray-600  focus:ring-2 focus:ring-gray-500"
    >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class=" size-5 ">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>

    </a>
  <h3 class="text-2xl font-bold">Citaciones</h3>

</div>
<hr class="border-yellow-300 border-1" />



  <div class="bg-gray-50 b p-4 shadow-lg border-t-1 border-t-blue-300 overflow-y-scroll h-[calc(100vh-8rem)]">

  <app-card-Form [hidden]="currentTab!='0'"  >
     <div class="bg-gray-50 rounded-xl shadow-inner p-4 border mt-2">
        <h3 class="font-bold mb-4 text-blue-500 text-lg flex items-center gap-2"><span class="material-icons text-blue-400">list_alt</span> involucrados Principales</h3>
         <tablaNavigator
     [columnas]="['nombres','parte','estado']"
    [encabezados]="['Nombres','Parte','Estado']"
    [datos]="involucrados"
    [RouterLinkparam]=" 'idDenuncia'"
    [RouterLink]="grupo+'/citaciones'"
    [queryParams]="['idUsuario','estado','parte','idCitacion']"

    >

    </tablaNavigator>

           </div>
           <div class="bg-gray-50 rounded-xl shadow-inner p-4 border mt-2">
        <h3 class="font-bold mb-4 text-blue-500 text-lg flex items-center gap-2"><span class="material-icons text-blue-400">list_alt</span> otros notificados</h3>
         <tablaNavigator
    [columnas]="['nombresCompletos','parte','estado']"
    [encabezados]="['Nombres','Parte','Estado']"
    [datos]="otrosInvolucrados"
    [RouterLinkparam]=" 'idDenuncia'"
    [RouterLink]="grupo+'/citaciones'"
    [queryParams]="['idUsuario','estado','parte','idCitacion']"
    [acciones]="true"
    [eliminar]="eliminarNotificado.bind(this)"
        [editar]="seleccionarParaEditarNotificado.bind(this)"


    >

    </tablaNavigator>
           </div>
           <h2 class="text-xl text-blue-500 font-semibold my-4">Agregar Notificado</h2>
           <div class="bg-white rounded-xl shadow-md p-6 border   ">
             <label class="block text-sm font-medium text-gray-700">tipo a notificar</label>
      <select [(ngModel)]="tipoNotificado" name="tipoNotificado" [ngModelOptions]="{standalone: true}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:border-2 focus:outline-none ">
          <option value="">Seleccione</option>
          <option value="persona">Persona</option>
          <option value="Representante Institucional">Institución</option>
        </select>


        <!--Formulario si es persona -->
      <form *ngIf="tipoNotificado === 'persona'"
      [formGroup]="nuevoCitadoForm"
       (ngSubmit)="onSubmit()"
        class=" mt-2 flex flex-wrap gap-4 items-end">
        <!--nombres-->
         <app-inputs
    label="nombres"
    type="text"
    placeholder="Ingrese nombres"
    [formGroup]="nuevoCitadoForm"
    [control]="$any(nuevoCitadoForm.get('nombres')!)"
    >
    <!-- Mensajes de error personalizados -->
    <span *ngIf="nuevoCitadoForm.get('nombres')?.errors?.['required']">Los nombres son requeridos</span>
  </app-inputs>
  <!--apellidos-->
  <app-inputs
  label="apellidos"
    type="text"
    placeholder="Ingrese apellidos"
    [formGroup]="nuevoCitadoForm"
    [control]="$any(nuevoCitadoForm.get('apellidos')!)"
    >

    <!-- Mensajes de error personalizados -->
    <span *ngIf="nuevoCitadoForm.get('apellidos')?.errors?.['required']">Los apellidos son requeridos</span>
  </app-inputs>
  <!--cedula-->
  <app-inputs
  label="cedula"
    type="text"
    placeholder="Ingrese cédula"
    [formGroup]="nuevoCitadoForm"
    [control]="$any(nuevoCitadoForm.get('cedula')!)"
    >
      <!-- Mensajes de error personalizados -->
    <span *ngIf="nuevoCitadoForm.get('cedula')?.errors?.['required']">La cédula es requerida</span>
  </app-inputs>


      <div class="ml-8 grid grid-cols-1 gap-1">
          <!-- Botón principal: Agregar o Actualizar según el modo -->
          <app-button-submit
            type="submit"
            [label]="modoEdicionCitados ? 'Actualizar' : 'Agregar'"
            [color]=" 'submit'"
            [icon]="modoEdicionCitados ? 'edit' : 'plus'"
            [disabled]="modoEdicionCitados && !nuevoCitadoForm.valid"
            >
          </app-button-submit>

          <!-- Botón Cancelar: Solo visible en modo edición -->
          <app-button-submit
            *ngIf="modoEdicionCitados"
            label="Cancelar"
            type="button"
            color="cancelar"
            (clicked)="cancelarEdicionNotificado()">
          </app-button-submit>
        </div>
      </form>
      <!--Formulario si es institucion -->
      <form *ngIf="tipoNotificado === 'Representante Institucional'"
      [formGroup]="nuevaInstitucionForm"
       (ngSubmit)="onSubmit()"
       class="mt-2 flex flex-wrap gap-4 items-end">
       <app-inputs
    label="Institucion"
    type="text"
    placeholder="Ingrese institución"
    [formGroup]="nuevaInstitucionForm"
    [control]="$any(nuevaInstitucionForm.get('institucion')!)"
    >

    <!-- Mensajes de error personalizados -->
    <span *ngIf="nuevaInstitucionForm.get('institucion')?.errors?.['required']">La institución es requerida</span>
  </app-inputs>
        <app-inputs
    label="Nombres de representante"
    type="text"
    placeholder="Ingrese nombres"
    [formGroup]="nuevaInstitucionForm"
    [control]="$any(nuevaInstitucionForm.get('nombres')!)"
    >
    <!-- Mensajes de error personalizados -->
    <span *ngIf="nuevaInstitucionForm.get('nombres')?.errors?.['required']">Los nombres son requeridos</span>

  </app-inputs>
  <app-inputs
  label="Apellidos de representante"
    type="text"
    placeholder="Ingrese apellidos"
    [formGroup]="nuevaInstitucionForm"
    [control]="$any(nuevaInstitucionForm.get('apellidos')!)"
    >>

    <!-- Mensajes de error personalizados -->
    <span *ngIf="nuevaInstitucionForm.get('apellidos')?.errors?.['required']">Los apellidos son requeridos</span>
  </app-inputs>
  <app-inputs
    label="Cédula de representante"
    type="text"
    placeholder="Ingrese cédula"
    [formGroup]="nuevaInstitucionForm"
    [control]="$any(nuevaInstitucionForm.get('cedula')!)"
    >


    <!-- Mensajes de error personalizados -->
    <span *ngIf="nuevaInstitucionForm.get('cedula')?.errors?.['required']">La cédula es requerida</span>
  </app-inputs>
<app-inputs
    label="Cargo del representante"
    type="text"
    placeholder="Ingrese cargo"
    [formGroup]="nuevaInstitucionForm"
    [control]="$any(nuevaInstitucionForm.get('cargo')!)"
    >

    <!-- Mensajes de error personalizados -->
    <span *ngIf="nuevaInstitucionForm.get('cargo')?.errors?.['required']">El cargo es requerido</span>
  </app-inputs>

  <div class="ml-8 grid grid-cols-1 gap-1">
          <!-- Botón principal: Agregar o Actualizar según el modo -->
          <app-button-submit
            type="submit"
            [label]="modoEdicionCitados ? 'Actualizar' : 'Agregar'"
            [color]=" 'submit'"
            [icon]="modoEdicionCitados ? 'edit' : 'plus'"
            [disabled]="modoEdicionCitados && !nuevaInstitucionForm.valid"
            >
          </app-button-submit>

          <!-- Botón Cancelar: Solo visible en modo edición -->
          <app-button-submit
            *ngIf="modoEdicionCitados"
            label="Cancelar"
            type="button"
            color="cancelar"
            (clicked)="cancelarEdicionNotificado()">
          </app-button-submit>
        </div>

      </form>

           </div>


  </app-card-Form>

  <app-card-Form [hidden]="( currentTab!=currentTab || currentTab=='0'||currentTab=='2')"  [titulo]="'citaciones'">
    <p>Trámite Administrativo N° <span class="p-1  border-1 rounded-lg border-blue-200 bg-gray-100 font-bold">{{citar.codigoTramite}}</span></p>
    <p>{{citar.Canton}},{{ fechaHoraActual | date:'dd' }} de {{ fechaHoraActual | date:'MMMM':'':'es' }} del {{ fechaHoraActual | date:'yyyy' }}</p>
    <p>Oficio N° <span class="p-1  border-1 rounded-lg border-blue-200 bg-gray-100 font-bold">00001</span></p>
    <p class="font-bold text-lg">Citacion</p>
    <p class="mb-2">señora</p>
    @for (item of involucrados; track $index) {
      @if (currentTab===item.nombres) {
        <p><span class="p-1  border-1 rounded-lg border-blue-200 bg-gray-100 font-bold">{{item.nombres}}</span></p>
        <p>parte <span class="font-bold"> {{item.parte}} </span> </p>
      }



    }

    <p>ciudad</p>
   <p > <span class="p-1  border-1 rounded-lg border-blue-200 bg-gray-100 font-bold" > {{citar.Canton}} </span> </p>
    <p>de nuestras consideraciones:</p>
    <p>Reciban un cordial saludo de quienes conformamos la Junta de Protección del cantón <span class="font-bold"> {{citar.Canton}} </span>  </p>
    <p>Adjunto a la presente sírvase encontrar la Citación  de fecha <span class="font-bold"> {{ fechaHoraActual | date:'dd' }}</span>  de <span class="font-bold" >{{ fechaHoraActual | date:'MMMM':'':'es' }} </span> del <span class="font-bold"> {{ fechaHoraActual | date:'yyyy' }} </span> , para que asista a la Audiencia de Contestación a realizarse:</p>
     <form [formGroup]="citacionForm" class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Local -->
    <div>
      <label for="local" class="block text-sm font-medium text-gray-700">Local</label>
      <input type="text" id="local" name="local" formControlName="local"
        class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <!-- Dirección -->
    <div>
      <label for="direccion" class="block text-sm font-medium text-gray-700">Dirección</label>
      <input type="text" id="direccion" name="direccion" formControlName="direccion"
        class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <!-- Fecha -->
    <div>
      <label for="fecha" class="block text-sm font-medium text-gray-700">Fecha</label>
      <input type="date" id="fecha" name="fecha" formControlName="fecha"
        class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <!-- Hora -->
    <div>
      <label for="hora" class="block text-sm font-medium text-gray-700">Hora</label>
      <input type="time" id="hora" name="hora" formControlName="hora"
        class="mt-1 block w-full rounded-lg border border-gray-300 shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500" />
    </div>




  </form>
    <p>Dispuesta dentro del trámite administrativo N° <span class="font-bold"> {{citar.codigoTramite}} </span> </p>
    <p>Sin otro particular suscribimos.  </p>
    <p>atentamente,</p>
    <p>MIEMBROS DE LA JUNTA CANTONAL DE PROTECCION DE DERECHOS </p>


    <p>RECIBIDO……………………………………………………………………………...…………………</p>
    <p>FECHA………………</p>

    <p>  <span class="text-red-500">NOTA</span>: Se adjunta Avocatoria de Conocimiento, medidas de protección y boleta de auxilio</p>

  </app-card-Form>
   @if (pdfSrc) {
        <div class="pdf-container" [hidden]="currentTab !== '2'">
          <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
        </div>
      }

</div>

